.project_page_promo.trybtc_promo
  .vertical_center
    .container.promo_name_container.centered_text
      .project_promo_name.promo_name_trybtc TryBTC
      .project_promo_sub_text.promo_subtext_trybtc teaching the world about Bitcoin in under 5 minutes
    .highlights_outer_container
      .container.highlights_container
        .col-md-4
          .project_highlight_number.project_highlight_number_trybtc 600,000
          .project_highlight_text.project_highlight_text_trybtc People taught about Bitcoin
        .col-md-4
          .project_highlight_number.project_highlight_text_trybtc 176
          .project_highlight_text.project_highlight_text_trybtc Countries that have used our site
        .col-md-4
          .project_highlight_number.project_highlight_number_trybtc 100,000
          .project_highlight_text.project_highlight_text_trybtc Bitcents donated to charity
//- Main Content
.subsection_header_row
  .container
    .row
      .col-md-5.subsection_header
        span.subsection_header_text What is it?
      .col-md-6.col-md-offset-1.subsection_header
        span.subsection_header_text My role
.container
  .row
    .col-md-5
      | TryBTC is a website with the goal of teaching anyone in the world, no matter their background, about Bitcoin and how they can use it. My roommate and I created it in early 2013 but it continues to teach people to this day.
    .col-md-6.col-md-offset-1
      | While my roommate and I did not have concrete roles, I generally focused more on the back-end and infrastructure while he focused mostly on the front-end. In addition to these focuses, we both spent a great deal of time user testing and negotiating referral deals with other Bitcoin companies.
//- Screenshots
.subsection_header_row
  .container
    .row
      .col-md-12.subsection_header
        span.subsection_header_text Screenshots
.container.small_margin_top
  .trybtc_screenshot_1.full_responsive_image
  .row.large_margin_bottom
    .col-md-8.col-md-offset-2.centered_text
      | Since the goal of TryBTC is to teach anyone in the world about Bitcoin, we use a big button with a clear action to make starting as easy as possible.
  .row.large_margin_bottom
    .col-md-6
      .trybtc_screenshot_2.full_responsive_image
    .col-md-6.huge_margin_top
      | While we try to minimize the amount of text on the site, we found through user tests that it was important to explain the basic concept in order to make people feel more comfortable with it. They are, in fact, dealing with real money.
  .row
    .col-md-6
      .trybtc_screenshot_3.full_responsive_image
    .col-md-6
      .trybtc_screenshot_4.full_responsive_image
  .row.large_margin_bottom
    .col-md-4.col-md-offset-1.centered_text
      | Our biggest principle: make things as simple as possible.
    .col-md-4.col-md-offset-2.centered_text
      | Our goal was to make creating a Bitcoin wallet as easy as clicking a button.
  .trybtc_screenshot_5.full_responsive_image
  .row.large_margin_bottom
    .col-md-8.col-md-offset-2.centered_text
      | One of our toughest issues was making a very technical topic as friendly and approachable as possible. This is the primary reason for our bright color scheme and playful mascot.
.footer
